@media print {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  h1 {
    margin-top: 0;
  }

  aside {
    display: none;
  }

  main {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  footer {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}