body {
  margin: 0;
  font: 0.9em/1.25 arial, verdana, sans-serif;
}

@media (min-width: 768px) {
  body {
    display: flex;
  }
}

h1 {
  font-size: 1.8em;
  text-align: center;
}

header {
  margin: 4em 0 1em;
}

@media (min-width: 768px) {
  header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.myAddress {
  margin: 0;
}

.customerAddress {
  font-size: 1.2em;
}

.data tr td {
  padding: 0;
}

.data td:first-child {
  padding-right: 2em;
  font-weight: bold;
}

aside {
  background: #eee;
  padding: 1em;
}

main {
  padding: 1em;
}

.content {
  margin-top: 5em;
}

.content table {
  width: 100%;
  border-spacing: 0;
}

.content table tr {
  text-align: left;
}

.content table tr td,
.content table tr th {
  border-bottom: solid 1px #ccc;
  padding: 0.35em 0;
}

.content table tr td {
  white-space: nowrap;
  padding-right: 2em;
  vertical-align: top;
}

.content table tr th:last-child,
.content table tr td:last-child {
  text-align: right;
}

.content table tr.total td {
  font-weight: bold;
  padding-top: 1em;
  border: none;
}

.content table tr td:last-child {
  padding-right: 0;
}

.content table tr td:first-child {
  white-space: normal;
}

footer {
  margin: 4em 0 0;
  border-top: solid 1px #ccc;
  padding: 1em 0;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer__data {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .bank {
  margin: 1em 0 0;
}

@media (min-width: 768px) {
  footer .bank {
    margin-top: 0;
  }
}

aside .download {
  display: block;
  margin: 2em 0;
}